@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
.heading
{
    text-transform: capitalize;
    text-align: center;
    font-family: bitter;
    font-size: larger;
    margin-top: 5%;
    font-weight: bold;
}
.sec1
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: medium;
}

.long_last,.Fragrance, .Authentic
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    text-align: justify;
}

.sec1 i
{
    font-size:35px;
    background-color: #E6F0F2;
    border-radius: 50%;
    padding: 10px;
}

.sec1 p
{
    text-align: justify;
    font-size: small;
    margin-top: -4%;
    width: 60%
}

.sec2
{
    width: 100%;
    position: relative;
}

img
{ 
  width:100%;
  transition: all 3s;
}

.sec2 .image-container  img
{
    width: 100%;
    height:auto;
    object-fit: cover;
}

  
  .sec2 .image-container {
    position: relative;
  }
  
  .sec2 .text-container {
    position: absolute;
    top: 0;
    left: 2%;
    padding: 20px;
    color: black;
    width: 50%;
    margin: 0;
  }
  
 .free_shipping 
  {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
   
  }
.free_shipping p::before
{
    content: "\2022";
    color: blue;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  
}
.sec4 h1
{
  text-align: center;
  font-size: 24px;
}

.best_perfume
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: 10px;
}

.best_perfume span
{
  text-decoration: line-through;
  color: red;
}
.sec4 img:hover
{
    width: 90%;
}

.sec4 button
{
  background-color: black ;
  padding: 10px;
  color: white;
  margin-bottom: 5%;
}
#si2
{
  height: 400px;
}

.Youtube
{
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  width:88%;
  margin: auto;
  gap: 10PX;
  object-fit: cover;
  
}

.Youtube>div img
{
  padding: 1px;
  box-shadow: 8px 4px 5px  1px black;
}

.Youtube > div img {
  padding: 1px;
  box-shadow: 8px 4px 5px 1px black;
}

.Youtube > div:nth-child(1) img:hover
 {
  padding: 10px;
  transform: perspective(800px) rotateY(33deg) rotateX(3deg);
}

.Youtube > div:nth-child(2) img:hover 
{
  padding: 10px;
  transform: perspective(800px) rotateY(-33deg) rotateX(3deg);
}



#div_thum
{
  height: 100%;
  object-fit: center;
}

.sec7{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 25px;

}

.instaing
{
display: grid;
grid-template-columns: repeat(3 ,1fr);
margin: auto;
}
.instaing img
{
  width: 80%;
  margin: auto;
  padding: 10px;
  transition: all 3s;
  margin: auto;
}
.instaing div:nth-child(1) img:hover
{
  transform: perspective(800px) rotateY(33deg) rotateX(3deg);
  box-shadow: 8px 4px 5px  1px black;
}
.instaing div:nth-child(2) img:hover
{
  transform: perspective(800px) rotateY(33deg) rotateX(360deg);
  box-shadow: 8px 4px 5px  1px black;
}
.instaing div:nth-child(3) img:hover
{
  transform: perspective(800px) rotateY(-33deg) rotateX(3deg);
  box-shadow: 8px 4px 5px  1px black;
}
.sec8
{
  background-color:#E6F0F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Site_logo
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  margin: auto;
}
.sec8 img
{
  width: 40%;
  margin-left: 30%;
}

.sec9
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 95%;
  text-align: center;
  font-size: small;
  gap:10px;
  margin: 3% auto;

}


.sec9_div
{

  background: #E6F0F2;
  width: 99%;
  height: 100%;
  text-align: center;
  margin: auto;

}

.sec9_div p
{
  width: 70%;
  text-align: center;
  margin:2% auto;
}
.sec9 div:nth-child(1) img:hover
{
  transform: perspective(800px) rotateY(-33deg) rotateX(3deg);
  box-shadow: 8px 4px 5px  1px black;
}
.sec9 div:nth-child(3) img:hover
{
  transform: perspective(800px) rotateY(33deg) rotateX(3deg);
  box-shadow: 8px 4px 5px  1px black;
}

button
{
  background-color:black;
  padding:3px  10px;
  color: white;
  margin-bottom: 4%;
  transition: all 1s;
}
button:hover
{
  color: red;
  font-size: 13px;
}

.sec10
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 97%;
  margin: auto;
  text-align: left;
  font-size: small;
  gap:10px;
}

.sec11
{
  width: 85%;
  margin: auto;
}

.Youtube_review
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  width: 96%;
  margin:2% auto;
}
.Youtube_review div:nth-child(odd) img:hover
{
  transform: perspective(800px) rotateY(33deg) rotateX(6deg);
  box-shadow: 8px 4px 5px  1px black;
}

.Youtube_review div:nth-child(even) img:hover
{
  transform: perspective(800px) rotateY(-36deg) rotateX(6deg);
  box-shadow: 8px 4px 5px  1px black;
}
.sec12
{
  display: flex;
  margin-top: 5%;
  width: 97%;
  margin: auto;
}

.sec12id
{
 display: grid;
 grid-template-columns: repeat(6,1fr);
 width: 100%;
}
.sec12id img
{
  width: 95%;
  height:260px;
}

.sec12id div:nth-child(even) img:hover
{
  transform: perspective(800px) rotateY(33deg) rotateX(6deg);
  box-shadow: 8px 4px 5px  1px black;
}
.sec12id div:nth-child(odd) img:hover
{
  transform: perspective(800px) rotateY(-33deg) rotateX(6deg);
  box-shadow: 8px 4px 5px  1px black;
}
#camera
{
  min-height: 30px;
  width: 20%;
  /* height: auto; */
  background-color: #fff;
  text-align: center;
  position: relative;
  top: -15vw;
  left: 40%;
  border-radius: 2%;
  padding: 30px;
  border: 2px dotted black;
  font-family: bitter;
}
#camera a
{
  text-decoration: none;
  color: #000;
}
.footer
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 96%;
  color: white;
  background-color: black;
  padding: 50px 20px;
  margin-top:-10%; 
}

.footer p
{
  font-size: small;
}

.footer input
{
 padding: 10px 20px;
  border-radius: 2%;
}

.footer button
{
  display: block;
  background-color:#27808E ;
  margin-top: 4%;
}

@media screen and (max-width:930px) 
{
  .footer input
  {
   padding:0;
   border-radius: 2%;
  }  
    }

@media screen and (max-width:790px) 
{
    .free_shipping
    {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin: auto;
      text-align: center;
      margin-top: 5%;
    }
    .sec2 .text-container
    {
      width: 90%;
      margin:0;
      padding: 0;
    }
}

@media screen and (max-width:650px) 
{
   .footer
   {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   #camera
   {
    text-align: center;
    position: relative;
    top: -40vw;
    width:45px;
    font-size: small;
    left: 35%;
   }
   #camera h1
   {
    color: #000;
    font-size: small;
   }
}

@media screen and (max-width:510px) 
{
  .sec1
   {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
   }
   .sec2 .text-container
   {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
   }
   .sec12id
   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
   }
   .footer
   {
    width: 90%;
   }
}


@media screen and (max-width:400px) 
{
  .best_perfume
  {
   display: flex;
   flex-direction: column;
   margin-top: 5%;
  }
.Youtube
{
  display: flex;
  flex-direction: column;
}
  .sec9
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
 
  .footer
  {
   display: grid;
   grid-template-columns: repeat(1,1fr);
  }
  img
  {
    width: 100%;
  }
}
